<div class="container">
    <div class="row pt-3">
    <div class="col-6">
        <h4>DATOS PERSONALES & DIRECCION</h4>
    </div>
        <div class="col-6 text-end">
            <button class="btn btn-outline-success" (click)="openModel()">Agregar</button>
        </div>
        </div>
        @if (PersonList.length !== 0) {
        <div class="row">
        @for (item of PersonList; track $index) {
        <div class="col-3">
            <div class="card">
            <div class="card-header">
                <div class="row">
                <div class="col-6">
                    {{item.name}}
                </div>
                <div class="col-6 text-end">
                    {{item.mobileNo}}
                </div>
                </div>
            </div>
            <div class="card-body">
                <p> {{item.city}} , {{item.state}} , {{item.pincode}}</p>
                <p> {{item.address}}</p>
            </div>
            <div class="card-footer text-center">
                <div class="row">
                <div class="col-6">
                <small>{{item.email}}</small> 
                </div>
                <div class="col-6">
                    <button class="btn btn-sm btn-primary" (click)="onEdit(item)" style="padding: 10px; margin-bottom: 10px;">Editar</button>
                    <button class="btn btn-sm btn-danger" (click)="onDelete(item)" style="padding: 10px;">Eliminar</button>
                </div>
                </div>
            </div>
            </div>
        </div>
        }
        </div>
        } @else { 
        <div class="row">
            <div class="col-12 p-4 text-center">
            <p>Está vacio, Porfavor crear uno nuevo</p>
            </div>
        </div>
        }
    </div>
    <div class="modal" id="myModal" #myModal>
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Crear Nuevo</h4>
            <button type="button" class="btn-close" (click)="closeModel()"></button>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-8">
                <label for="">Nombre Completo</label>
                <input type="text" [(ngModel)]="PersonObj.name" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                <label for="">Telefono</label>
                <input type="text" [(ngModel)]="PersonObj.mobileNo" class="form-control" placeholder="Mobile">
                </div>
                <div class="col-6">
                <label for="">Email</label>
                <input type="text" [(ngModel)]="PersonObj.email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                <label for="">Ciudad</label>
                <input type="text" [(ngModel)]="PersonObj.city" class="form-control" placeholder="City">
                </div>
                <div class="col-4">
                <label for="">Departamento</label>
                <input type="text" [(ngModel)]="PersonObj.state" class="form-control" placeholder="State">
                </div>
                <div class="col-4">
                <label for="">Código PIN</label>
                <input type="text" [(ngModel)]="PersonObj.pincode" class="form-control" placeholder="Pin">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                <label for="">Direccion</label>
                <textarea rows="3" [(ngModel)]="PersonObj.address" class="form-control"></textarea>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeModel()">Cerrar</button>
            @if (PersonObj.id ==0) {
                <button type="button" class="btn btn-primary" (click)="saveStudent()">Guardar Cliente</button>
            } @else {
                <button type="button" class="btn btn-success" (click)="updateStud()">Actualizar Cliente</button>
            }
            </div>
        </div>
        </div>
    </div>